root {
    --base-font-family: 'Atkinson Hyperlegible', serif;
}

body {
    --siteFont: 'Atkinson Hyperlegible', serif;
    --headingFont: 'Atkinson Hyperlegible', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}

.search .input-wrap {
    margin-top: 30px!important;
}

.sidebar-toggle {
    top: 0;
    bottom: unset;
}

@media screen and (max-width: 768px) {
    #docsify-darklight-theme {
        left: unset;
    }
    #docsify-themeable {
        left: unset;
    }
}

.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 700;
    font-style: italic;
  }
  